*
{
    margin: 0;
    padding: 0;
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list
{
   width:45%;
  
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-list li
{
    list-style: none;
    padding: 26px 30px;
    margin-left: 0px;
   
   
}
.nav-list li a
{
   text-decoration: none; 
   color:white;
}

.nav-list li a:hover
{
   text-decoration: underline; 
   
}
.rightnav
{
    
    width:55%;
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: end;
   padding-right: 10px;
  
}
.logo
{
    width:27%;
    height: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logo img
{
    width:27%;
    height: 27%;
    border:2px solid white;
    border-radius: 50%;
    
    

}
#search
{
    padding:5px;
    font-size: 17px;
    border-radius: 24px;
    border: 1px solid transparent;
    box-shadow: #5d5d5d;
    margin-right: 4px;
}
.btnsmall
{
    width:60px;
    height:30px;
    background-color: grey;
    color:white;
    border-radius: 8px;
    margin-right: 2px;
    border:2px solid white;
    vertical-align: middle;
}
.background
{
    background: rgba(0,0,0,0.7) url('education\ \(1\).jpg');
    background-size: cover;
    background-blend-mode: darken;

}
.background1
{
    background: rgba(0,0,0,0.7) url('education\ \(1\).jpg');
    background-size:cover;
    background-blend-mode: darken;

}

.background3
{
    background: rgba(0,0,0,0.7) url('students.webp');
    background-size:cover;
    background-blend-mode: darken;

}

.background2
{
    background: rgba(0,0,0,0.7);
    background-size:cover;
    background-blend-mode: darken;

}
.boxmain
{
display: flex;
justify-content: center;
align-items: center;
color:white;
font-family: Arial, Helvetica, sans-serif;
max-width: 50%;
margin: auto;
height:70%;
}
.firstsection
{
    height:100vh;

}
.firsthalf
{
width:90%;
display: flex;
justify-content: center;
flex-direction: column;
}
.secondhalf
{
width:30%;

}
.secondhalf img{
    
    width:70%;
    border:2px solid white;
    border-radius: 50%;
    display: block;
    margin: auto ;
    height:150px;
    width:150px;
}
.text-big
{
font-size:22px ;
}
.text-small
{
font-size:14px ;
padding: 6px 6px 6px 0 ;
}
.btn{
    padding:6px 18px;
    margin: 7px 0;
    border:2px solid white;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 8px;
   background: none;
   color: white;
   
    cursor: pointer;
}
.secright{
    height:800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    

    
}
.para
{
    padding: 0 65px;
}

.sectiontag1
{
font-size:40px ;
color:white;
}
.sectiontag2
{
font-size:20px ;
padding: 6px 6px 6px 0 ;
color: white;
}

.btnsec
{
    width:150px;
    height:50px;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    background: none;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid white;

}
.contact
{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    padding-left: 10px;

}
.number
{
    font-size: 18px;
vertical-align: middle;
margin-top: 2.5px;
padding-left: 8px;
}
